name: Build LaTeX Document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: main.tex
          extra_system_packages: "ttf-font-awesome"
          pre_compile: "tlmgr update --self && tlmgr update --all && tlmgr install fontawesome && tlmgr install raleway"
          latexmk_use_xelatex: true
